* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    background-color: #f0f0f0;
}

header,
footer {
    background-color: #4682b4;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    padding: 20px;
}

header h1 {
    color: #f0f0f0;
    text-align: center;
}

header svg {
    position: absolute;
    right: 10px;
}

main {
    background-color: #f0f0f0;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    color: #f0f0f0;
    font-size: 18px;
    padding: 40px;
}

.search-bar-form {
    background-color: #f0f0f0;
    display: flex;
    width: 80ch;
    min-height: 40px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
}

.search-bar-input {
    position: relative;
    background-color: transparent;
    border: none;
    width: 95%;
}

.search-bar-input:focus {
    border: none;
    outline: none;
}

.search-bar-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
}

.filter-icon {
    cursor: pointer;
}

.filter-dialog {
    display: none;
}

.filter-dialog[open] {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #a9a9a9;
    padding: 30px;
}

.dialog-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dialog-field {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 5px;
}

dialog button,
.dialog-field input,
.dialog-field select {
    min-height: 30px;
    background-color: transparent;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}

.dialog-field select,
.dialog-field input {
    padding: 5px;
}

.dialog-button {
    width: 100%;
    background-color: #4682b4;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
}

.dialog-button:hover {
    background-color: #2d79b8;
}

.dialog-close-icon {
    position: absolute;
    font-size: larger;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.list-news {
    width: 100ch;
    height: max-content;
}

.list-news li {
    display: flex;
    gap: 15px;
    height: 230px;
    width: 100%;
    margin-top: 20px;
}

.news-image {
    width: 30%;
    height: 100%;
}

.container-news-image img {
    max-width: 100%;
    max-height: 100%;
}

.link-news-details {
    width: 100%;
    height: 30px;
    display: block;
    border: none;
}

.link-news-details button {
    width: 100%;
    height: 100%;
    min-height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #d6d6d6;
}

.link-news-details button:hover {
    background-color: #c0c0c0;
}

.container-news-content {
    width: 70%;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.container-news-tags {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.list-pages {
    display: flex;
    gap: 5px;
}

.list-pages li {
    border: none;
}

.list-pages li button {
    background-color: transparent;
    border: 1px solid #4682b4;
    color: #4682b4;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.list-pages li button:hover {
    background-color: #4682b4;
    color: #f0f0f0;
    transition: all 500ms ease;
}

.list-pages li button[data-current="true"] {
    background-color: #4682b4;
    color: #f0f0f0;
}

.container-editorials {
    display: flex;
    gap: 10px;
}